:root{
    --primary-light-color: #efefef;
    --primary-dark-color: #58001b;
    --secondary-color: #0a1b2c;
    --link-color: #e0ab4c;
    --light-shadow-color: 0 0 3px #adaaaa,
                          0 0 5px #adaaaa,
                          0 0 7px #adaaaa,
                          0 0 21px #efefef;
    --dark-shadow-color: 0 0 1px #e0ab4c,
                         0 0 7px #8b2230,
                         0 0 21px #8b2230,
                         0 0 42px #58001b,
                         0 0 64px #58001b;
     --dark-hover-color: 0 0 2px #e0ab4c,
                         0 0 4px #e0ab4c,
                         0 0 4px #e0ab4c,
                         0 0 21px #8b2230,
                         0 0 42px #58001b;
}
body{
    background: var(--primary-light-color);
    color: var(--secondary-color);
}
.dark{
    background: var(--primary-dark-color);
    color: var(--primary-light-color);
}
.dark .container,
.dark .traditional-gallery,
.dark .digital-gallery{
    background: rgba(139, 34, 48, 0.2);
    box-shadow: var(--dark-shadow-color);
}
.dark a{
    color: var(--link-color);
}
.dark .theme-button{
    background: var(--primary-light-color);
    color: var(--link-color);
}
.dark .red-vase:hover,
.dark .green-vase:hover,
.dark .seasons1-vase:hover,
.dark .seasons2-vase:hover,
.dark .lion-portret:hover,
.dark .koi-fish-side:hover,
.dark .wealth-side:hover,
.dark .geisha1-vase:hover,
.dark .geisha2-vase:hover{
    box-shadow: var(--dark-hover-color);
}
.dark .learn-link:hover{
    box-shadow: var(--dark-hover-color);
}
.container{
    background: #dadedf;
    border-radius: 4px;
    margin: 40px -10px;
    padding: 10px;
}
.theme-button{
    border: 1px groove rgba(164, 161, 161, 0.6);
    border-radius: 4px;
    color: var(--secondary-color);
    display: block;
    margin: 0 auto;
    padding: 5px 12px;
}
h1{
    font-family: 'Great Vibes', cursive;
    font-size: 90px;
    text-align: center;
}
h3{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 25px;
    text-align: center;
}
h2{
    font-family:'Great Vibes', cursive;
    font-size: 50px;
    margin: 70px;
    text-align: center;
}
.benefits{
    display: flex;
    justify-content: space-evenly;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    line-height: 1.2;
}
ul{
    list-style: none;
    margin-bottom: 30px;
}
a:hover{
    text-decoration: underline;
}
.wiki-link,
.digital-wiki-link{
    color: #b6b4b4;
    font-size: 20px;
    margin: 5px 120px;
    text-decoration: none;
}
.traditional-gallery img{
    border-radius: 4px;
    width: 100%;
}
.my-work,
.my-digital-pieces{
    margin-top: 5px;
}
.traditional-gallery{
    background: #dadedf;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 10px;
    margin: 40px -10px;
    padding: 40px 140px;
}
.lion-portret{
    margin: -15px 0;
    transition: transform 250ms ease-in-out;
}
.red-vase,
.green-vase,
.seasons1-vase,
.seasons2-vase,
.koi-fish-side,
.wealth-side,
.geisha1-vase,
.geisha2-vase{
    transition: transform 250ms ease-in-out; 
}
.red-vase:hover{
    margin-left: 30px;
}
.red-vase:hover,
.green-vase:hover,
.seasons1-vase:hover,
.seasons2-vase:hover,
.lion-portret:hover,
.koi-fish-side:hover,
.wealth-side:hover,
.geisha1-vase:hover,
.geisha2-vase:hover{
     box-shadow: var(--light-shadow-color);
     filter: brightness(110%);  
     transform: scale(2.5);         
}
.geisha2-vase:hover{
    margin-left: -30px;
}
.digital-gallery{
    background: #dadedf;
    display: flex;
    justify-content: center;
    margin: 40px -10px;
    padding: 40px 140px;
}
.blue-birds,
.girl-portret{
    border-radius: 14px;
    padding: 10px;
    transition: transform 250ms ease-in-out;
    width: 20%;
}
.blue-birds:hover,
.girl-portret:hover{
    transform: scale(1.5);
}
p{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    margin: 25px 120px 45px;
}
.ending-quote{
    font-size: 20px;
    margin: 30px 120px 40px;
}
.learn-link{
    background-image: url("https://image.shutterstock.com/image-vector/seamless-zig-zag-vector-pattern-260nw-1974612461.jpg");
    border-radius: 4px;
    color: var(--link-color);
    display: block;
    font-size: 25px;
    font-weight: 600;
    margin: 0 auto;
    max-width: 18%;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    transition: transform 250ms ease-in-out;
}
.learn-link:hover{
    box-shadow: var(--light-shadow-color);
    transform: scale(1.2);
    text-decoration: none;            
}
footer{
    text-align: center;
    margin-top: 60px;
}
.coder{
    color:#b6b4b4;
    text-decoration: none;
}
.coder:hover{
    color: var(--link-color);
}